.overlay {
 position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.popupContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(75, 74, 74);
    border-radius: 0.8rem;
    width: 21rem;
    height: 9rem;
    padding: 1.6rem 1.5rem;
    gap: 1.8rem;
    top: 9.2rem;
    left: 21rem;
    z-index: 10;
    background-color: #121212;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.8);
    span{
        font-weight: 550;
        text-align: left;
    }
    input{
        border: none;
        background-color: rgb(41, 41, 41);
        width: 17rem;
    }
    input::placeholder{
        font-weight: 700;
    }
}
.confirmDeleteText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span{
        font-weight: 600;
    }
}
.popupButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-weight: 700;
    .confirm{
        color: #1A5FFF;
    }
    span{
        font-weight: 800;
        color: grey;
    }
    button{
        background-color: transparent;
        color: white;
        border: none;
        font-weight: 600;
        cursor: pointer;
        font-size: 1rem;
    }
}
.errorText{
    color: red;
    font-size: 0.7rem;
    margin-top: 0.15rem;
  }